body {
	font-family: Poppins, sans-serif;
	color: #444
}

a {
	text-decoration: none;
	color: #92c24c
}

a:hover {
	color: #44813e;
	text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/* font-family: Satisfy, sans-serif */
	font-family: 'Lobster', cursive;
	/* font-family: 'Dancing Script', cursive; */
	font-weight: 700;
}

#header {
	height: 70px;
	z-index: 997;
	transition: all .5s;
	padding: 10px 0;
	background: rgba(26, 24, 22, .85)
}

#header .logo h1 {
	font-size: 28px;
	margin: 0;
	line-height: 1;
	font-weight: 400;
	letter-spacing: 3px
}

#header .logo h1 a {
	color: #fff;
	text-decoration: none
}

#header .logo img {
	padding: 0;
	margin: 0;
	max-height: 40px
}

.navbar {
	padding: 0
}

.navbar ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	align-items: center
}

.navbar li {
	position: relative
}

.navbar a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 15px;
	font-weight: 500;
	color: #fff;
	white-space: nowrap;
	transition: .3s;
	text-align: center
}

.navbar a i {
	font-size: 12px;
	line-height: 0;
	margin-left: 5px
}

.navbar .active,
.navbar a:hover,
.navbar li:hover>a {
	color: #92c24c
}

.navbar a::after,
.navbar a::before {
	position: absolute;
	width: 0;
	height: 1px;
	content: '';
	background: #92c24c;
	transition: all .5s
}

.navbar a::after {
	right: 0;
	bottom: 0
}

.navbar a::before {
	left: 0;
	top: 0
}

.navbar a:hover::after,
.navbar a:hover::before {
	width: 50%
}

.mobile-nav-toggle {
	color: #fff;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: .5s
}

@media (max-width:991px) {
	.mobile-nav-toggle {
		display: block
	}
	.navbar ul {
		display: none
	}
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    height:320px;
    transition: .3s;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 21px;
    right: 12px;
}

.navbar-mobile ul {
    display: block;
    width: 200px;
    position: absolute;
    top: 70px;
    right: 0px;
    bottom: 0px;
    padding: 10px 0;
    border-bottom-left-radius: 8px;
    background: rgba(26, 24, 22, .85);
    overflow-y: auto;
    transition: .3s;
}

.navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
}


.navbar-mobile .active,
.navbar-mobile a:hover,
.navbar-mobile li:hover>a {
	color: #92c24c
}

#hero {
	width: 100%;
	height: 100vh;
	background-color: rgba(39, 37, 34, .8);
	overflow: hidden;
	padding: 0
}

#hero .carousel-item {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat
}

#hero .carousel-item::before {
	content: '';
	background-color: rgba(12, 11, 10, .5);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0
}

#hero .carousel-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0
}

#hero .carousel-content {
	text-align: center
}

#hero h2 {
	color: #fff;
	margin-bottom: 30px;
	font-size: 48px;
	font-weight: 700
}

#hero h2 span {
	color: #92c24c
}

#hero p {
	width: 80%;
	-webkit-animation-delay: .4s;
	animation-delay: .4s;
	margin: 0 auto 30px auto;
	color: #fff
}

#hero .carousel-inner .carousel-item {
	transition-property: opacity;
	background-position: center top
}

#hero .carousel-inner .active.carousel-item-end,
#hero .carousel-inner .carousel-item {
	opacity: 0
}

#hero .carousel-inner .active {
	opacity: 1;
	transition: .5s
}

#hero .carousel-inner .active.carousel-item-end {
	left: 0;
	transform: translate3d(0, 0, 0)
}

#hero .btn-restaurants {
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: inline-block;
	padding: 12px 30px;
	border-radius: 50px;
	transition: .5s;
	line-height: 1;
	margin: 0 10px;
	-webkit-animation-delay: .8s;
	animation-delay: .8s;
	color: #fff;
	border: 2px solid #92c24c
}

#hero .btn-restaurants:hover {
	background: #92c24c;
	color: #fff
}

#hero input {
	margin-right: 5px
}

@media (max-width:768px) {
	#hero h2 {
		font-size: 28px
	}
}

@media (min-width:1024px) {
	#hero p {
		width: 60%
	}
}

section {
	padding: 60px 0
}

.section-bg {
	background-color: #fff
}

.section-title {
	text-align: center;
	padding-bottom: 30px
}

.section-title h2, .section-title h3 {
	margin: 15px 0 0 0;
	font-size: 32px;
	font-weight: 700;
	color: #5f5950
}

.section-title h2 span {
	color: #92c24c
}

.section-title p {
	margin: 15px auto 0 auto;
	font-weight: 300
}

@media (min-width:1024px) {
	.section-title p {
		width: 50%
	}
}

.about {
	background: #fffaf3
}

.about .content {
	padding: 0 80px
}

.about .content h3 {
	font-weight: 400;
	font-size: 34px;
	text-align: center;
	color: #5f5950
}

.about .content h4 {
	font-size: 20px;
	font-weight: 700;
	margin-top: 5px
}

.about .content p {
	font-size: 15px;
	color: #848484
}

.about .content ul {
	list-style: none;
	padding: 0
}

.about .content ul li+li {
	margin-top: 15px
}

.about .content ul li {
	position: relative;
	padding-left: 26px
}

.about .content ul i {
	font-size: 20px;
	color: #92c24c;
	position: absolute;
	left: 0;
	top: 2px
}

.about .content p:last-child {
	margin-bottom: 0
}

.about-image {
	text-align: center
}

.about-image img {
	max-width: 500px;
	min-width: 250px;
	width: 80%;
	border-radius: 50%
}

.about-text {
	font-size: 20px!important;
	line-height: 1.5!important;
	text-align: center!important
}

@media (max-width:1024px) {
	.about .content {
		padding-left: 0;
		padding-right: 0
	}
}

@media (max-width:992px) {
	.about .content {
		padding-top: 30px
	}
}

@-webkit-keyframes pulsate-btn {
	0% {
		transform: scale(.6, .6);
		opacity: 1
	}
	100% {
		transform: scale(1, 1);
		opacity: 0
	}
}

@keyframes pulsate-btn {
	0% {
		transform: scale(.6, .6);
		opacity: 1
	}
	100% {
		transform: scale(1, 1);
		opacity: 0
	}
}

.restaurants #restaurants-flters {
	padding: 0;
	margin: 0 auto 0 auto;
	list-style: none;
	text-align: center;
	border-radius: 50px
}

.restaurants #restaurants-flters li {
	cursor: pointer;
	display: inline-block;
	padding: 8px 16px 10px 16px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	color: #444;
	margin: 0 3px 10px 3px;
	transition: all ease-in-out .3s;
	background: #fff;
	border: 2px solid #92c24c;
	border-radius: 8px
}

.restaurants #restaurants-flters li.filter-active,
.restaurants #restaurants-flters li:hover {
	color: #fff;
	background: #92c24c
}

.restaurants #restaurants-flters li:last-child {
	margin-right: 0
}

.restaurants .restaurants-content {
	margin-top: 30px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	position: relative
}

.restaurants .restaurants-content::after {
	position: absolute;
	left: 20px;
	right: 0;
	top: -4px;
	z-index: 1;
	color: #dad8d4;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
}

.restaurants .restaurants-content a {
	padding-right: 10px;
	background: #fff;
	position: relative;
	z-index: 3;
	font-weight: 700;
	color: #ff9b08
}

.restaurants .restaurants-content span {
	background: #fff;
	position: relative;
	z-index: 3;
	padding: 0 10px;
	font-weight: 600
}

.restaurants .restaurants-description {
	font-style: italic;
	font-size: 14px;
	font-family: "Comic Neue", sans-serif;
	color: #948c81
}

.empty-category {
	margin-top: 60px;
}

.events {
	background: url(../img/events-bg.jpg) center center no-repeat;
	background-size: cover;
	position: relative
}

.events::before {
	content: '';
	background-color: rgba(12, 11, 10, .8);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0
}

.events .section-title h2 {
	color: #fff
}

.events .container {
	position: relative
}

.events img {
	border-radius: 3px
}

@media (min-width:1024px) {
	.events {
		background-attachment: fixed
	}
}

.events .events-carousel {
	background: rgba(255, 255, 255, .08);
	padding: 30px
}

.events .event-item {
	color: #fff
}

.events .event-item h3 {
	font-weight: 600;
	font-size: 26px;
	color: #92c24c
}

.events .event-item .price {
	font-size: 26px;
	font-family: Poppins, sans-serif;
	font-weight: 700;
	margin-bottom: 15px
}

.events .event-item .price span {
	border-bottom: 2px solid #92c24c
}

.events .event-item ul {
	list-style: none;
	padding: 0
}

.events .event-item ul li {
	padding-bottom: 10px
}

.events .event-item ul i {
	font-size: 20px;
	padding-right: 4px;
	color: #92c24c
}

.events .event-item p:last-child {
	margin-bottom: 0
}

.jobs {
	background: url(../img/slide/slide-4.jpg) center center no-repeat;
	background-size: cover;
	padding: 60px 0;
	position: relative
}

.jobs::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(255, 255, 255, .8);
	z-index: 9
}

.jobs .container {
	position: relative;
	z-index: 10
}

.jobs .member {
	text-align: center;
	margin-bottom: 80px;
	position: relative
}

.jobs .member .pic {
	overflow: hidden;
	border-radius: 3px;
	transition: all .5s ease-in-out
}

.jobs .member .pic:hover {
	filter: saturate(125%);
	cursor: pointer;
	transform: scale(1.02)
}

.jobs .member .member-info {
	position: absolute;
	bottom: -80px;
	left: 20px;
	right: 20px;
	background: #fdf8db;
	border-radius: 10px;
	padding: 20px 0;
	color: #433f39;
	box-shadow: 0 2px 15px rgba(0, 0, 0, .1);
	overflow: hidden;
	transition: max-height .5s ease-in-out;
	height: 150px;
}

.jobs .member h4 {
	font-weight: 500;
	margin-bottom: 10px;
	font-size: 16px;
	color: #6c665c;
	position: relative;
	padding-bottom: 10px;
	font-family: Poppins, sans-serif
}

.jobs .member h4::after {
	content: '';
	position: absolute;
	display: block;
	width: 50px;
	height: 1px;
	background: #92c24c;
	bottom: 0;
	left: calc(50% - 25px)
}

.jobs .member span {
	font-style: italic;
	display: block;
	font-size: 13px;
	padding: 0 .5rem
}

.jobs .member .social {
	margin-top: 15px
}

.jobs .member .social a {
	transition: color .3s;
	color: #7a7368
}

.jobs .member .social a:hover {
	color: #92c24c
}

.jobs .member .social i {
	font-size: 16px;
	margin: 0 2px
}

@media (max-width:992px) {
	.jobs .member {
		margin-bottom: 110px
	}
}

@media (min-width:1024px) {
	.jobs {
		background-attachment: fixed
	}
}

.testimonials {
	padding: 80px 0;
	background: url(../img/founders-bg.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative
}

.testimonials::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(12, 11, 10, .7)
}

.testimonials .section-header {
	margin-bottom: 40px
}

#footer {
	background: #232d23;
	color: #fff;
	font-size: 14px;
	text-align: center;
	padding: 30px 0
}

#footer h3 {
	font-size: 36px;
	font-weight: 700;
	color: #92c24c;
	position: relative;
	padding: 0;
	margin: 0 0 15px 0
}

#footer p {
	font-size: 15;
	font-style: italic;
	padding: 0;
	margin: 0 0 10px 0
}

#footer .social-links {
	margin: 0 0 20px 0
}

#footer .social-links a {
	font-size: 50px;
	display: inline-block;
	color: #fff;
	border-radius:50%;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: .3s
}

#footer .social-links a:hover {
	color: #92c24c
}

#footer .copyright {
	margin: 0 0 5px 0
}

#footer .credits {
	font-size: 13px
}

.testimonial-image {
	box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
	width: 80%;
	max-width: 900px;
}

.carousel-control-prev-icon {
	width: 20px;
}
.carousel-control-next-icon {
	width: 20px;
}

.btn-appets {
	background-color: #92c24c;
	color: #35322d;
  }
  .btn-appets:hover {
	background-color: #35322d;
	color: #92c24c;
  }

  .requirements {
	background: url(../img/requirements-bg.jpg) center center no-repeat;
	background-size: cover;
	position: relative
  }

  .requirements::before {
	content: '';
	background-color: rgba(12, 11, 10, .8);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0
  }

  .requirements .section-title h2 {
	color: #fff
  }

  .requirements .container {
	position: relative
  }

  .requirements img {
	border-radius: 3px
  }

  @media (min-width:1024px) {
	.requirements {
	  background-attachment: fixed
	}
  }

  .requirements .requirements-carousel {
	background: rgba(255, 255, 255, .08);
	padding: 30px
  }

  .requirements .requirement-item {
	color: #fff
  }

  .requirements .requirement-item h3 {
	font-weight: 600;
	font-size: 26px;
	color: #92c24c
  }

  .requirements .requirement-item .price {
	font-size: 26px;
	font-family: Poppins, sans-serif;
	font-weight: 700;
	margin-bottom: 15px
  }

  .requirements .requirement-item .price span {
	border-bottom: 2px solid #92c24c
  }

  .requirements .requirement-item ul {
	list-style: none;
	padding: 0
  }

  .requirements .requirement-item ul li {
	padding-bottom: 10px
  }

  .requirements .requirement-item ul i {
	font-size: 20px;
	padding-right: 4px;
	color: #92c24c
  }

  .requirements .requirement-item p:last-child {
	margin-bottom: 0
  }

  /* ALESSANDRO */

  .restourants-area, .order-list, .single-order, .single-restaurant, .statistiche, .shopping-body{
	margin-top: 60px;
	padding:60px 0 130px 0;
  }

  .plates-list-container {
	  padding: 30px 12px;
  }

  .centering{
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .thumbnail-img{
	  height: 100px;
	  width: 150px;
	  border-radius: 8px;
  }

  .detail-img{
	  width: 100%;
  }

  .form-container {
	  padding: 200px 0;
  }

  .form-container .container-form * {
	  margin: 5px 0;
  }

  .go-back {
	  text-align: center;
	  margin-top: 10px;
  }

  .image-form-container {
	  width:100%;
  }

  .product-image {
	  width:100%;
	  border-radius: 8px;
	  cursor: pointer;
  }

  .hidden-plates {
	  margin: 0 8px;
  }

  .empty-plates {
	  padding: 80px;
  }

  .login-card {
	  max-width: 700px;
  }

  .login-container {
	  padding-top: 260px;
	  height: 100vh;
  }

  .register-container {
	  padding: 160px 0 110px 0;
  }

  .register-container .row, .login-container .row{
	  margin-bottom: 10px;
  }

  .register-links {
	  font-size: 13px;
	  color: #44813e;
  }

  .register-links:hover{
	  color: #44813e;
  }

  .register-btn {
	  background-color: #92c24c;
	  border: none;
  }

  .register-btn:hover {
	  background-color: #44813e;
  }

  .pagination-container{
	  margin-bottom: 50px;
  }

  .btn-register, .btn-access {
    margin: 20px 0;
    padding: 10px 50px;
    min-width: 100px;
    min-height: 50px;
    border-radius: 500px;
    background-color: #92c24c;
    color:white;
  }

  .btn-register:hover, .btn-access:hover {
    transform: scale(1.1);
    transition: 1s;
    background-color: #44813e;
    color:white;
  }

  .bg-card{
    background-color: rgba(255, 255, 255, 0);
    border: none;
  }

  .round{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 2px solid #92c24c;
  }

  @media screen and (max-width: 768px){
    .register img, .register div, .access img, .access div {
        display: none;
    }

    .btn-register, .btn-access {
        width: 200px;
    }
  }


  /* Fabrizio */

.renderCard{
	margin: 30px 0;
}

.greyCard{
	background-color:#444;
}

.greyCard h5{
	color:#92c24c;
	margin-bottom: 0;
}

.renderCardSub{
	border-color:#444;
	border-radius: 0;
}

.renderCardSub a{
	margin-top: 10px;
	font-size: 1.1rem;
	font-weight: 600;
}

.greenStyle{
	background-color:#92c24c
}

.singleCard{
	margin-right: 20px;
}

.dashboard .card-body a{
	background-color:  #92c24c;
	color: white;
	margin-top: 10px;
}

.dashboard .intro{
	padding-top: 20px;
}

.dashboard .dashTitle{
	margin-top: 20px;
}

.dashboard img{
	margin-top: 20px;
	border-radius: 2px;
}

.editInfo h1{
	color: white;
}

/* Pagination */

.page-link {
	color: #91c14b;
}

.page-link:hover {
	color: #44813e;
}

.page-item.active .page-link {
	background-color: #91c14b;
	border-color:  #91c14b; 
}

/* Ordini */

.order-padding {
	padding:15px;
}

.quantity-product {
	width:60px;
	text-align: center;
	margin-left: 15px;
	height: 30px;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}
.thumbnail img {
    width: 100%;
}


.piatti-container {
	padding: 125px 0;
	width: 80%;
}

.piatti-container h1 {
	margin-bottom: 50px;
}

/* Single Restaurant */

.center-justify{
    display:flex;
    align-items: center;
}

.card-container{
    border-radius: 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, .7);
    padding: 35px 0;
}

.order-container{
    border-radius: 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, .7);
    padding: 25px 5px;
}

.info-container{
    border-radius: 5px;
    /* height: 100px; */
    width: 400px;
	padding-bottom: 2px;
    background-color: rgba(255, 255, 255, .7);
}

.info-container p{
    padding: 5px;
}

.card-dish{
    max-height: 130px;
    width: 95%;
    border-bottom: 1px solid #92c24c;
    margin-bottom: 10px;
    overflow-y: auto;
}
.input-group-order{
    max-width: 150px;
}

.thumbnail-img-dish{
    width: 75%;
}

.order-recap{
    padding-left: 25px;
    max-height: 500px;
    overflow-y: auto;
}

.remove {
    color: red;
    font-style: italic;
    text-decoration: underline;
    font-size: 0.8rem;
	border: none;
	background-color: transparent;
}

.line {
    width:90%;
    margin:auto;
    height: 1px;
    background-color: black;
}

.btn-order {
    margin-top: 40px;
    width: 170px;
    min-height: 50px;
    border-radius: 500px;
    background-color: #92c24c;
    color:white;
    margin:auto;
}

/* Emanuel */

.shopping-body {
	min-height: 100vh;
	vertical-align: middle;
	display: flex;
	font-family: Poppins, sans-serif;
	color: #444;
	font-size: .8rem;
	font-weight: 700
}

.shopping-cart__title {
	margin-bottom: 5vh
}

.shopping-cart__card {
	margin: auto;
	max-width: 950px;
	width: 90%;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .19);
	border-radius: 1rem;
	border: transparent
}

@media (max-width:767px) {
	.shopping-cart__card {
		margin: 3vh auto
	}
}

.shopping-cart__cart {
	background-color: #fff;
	padding: 4vh 5vh;
	border-radius: 1rem;
}

@media (max-width:767px) {
	.shopping-cart__cart {
		padding: 4vh;
		border-bottom-left-radius: unset;
		border-radius: 1rem;
	}
}

.shopping-cart__summary {
	background-color: #92c24c;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	padding: 4vh;
	color: #414141
}

@media (max-width:767px) {
	.shopping-cart__summary {
		border-top-right-radius: unset;
		border-bottom-left-radius: 1rem
	}
}

.shopping-cart__row {
	margin: 0
}

.shopping-cart__title b {
	font-size: 1.5rem
}

.shopping-cart__main {
	margin: 0;
	padding: 2vh 0;
	width: 100%
}

.shopping-cart__col,
.shopping-cart__col-2 {
	padding: 0 1vh
}

.shopping-cart__a {
	padding: 0 1vh;
    text-decoration: none;
}

.shopping-cart__close {
	margin-left: auto;
	font-size: .7rem
}

.back-to-shop {
	margin-top: 4.5rem
}

.shopping-cart__h5 {
	margin-top: 1vh
}

.shopping-cart__hr {
	margin-top: 1.25rem
}

.shopping-cart__form {
	padding: 2vh 0
}

.shopping-cart__input {
	border: 1px solid rgba(0, 0, 0, .137);
	padding: 1vh;
	margin-bottom: 4vh;
	outline: 0;
	width: 100%;
	background-color: #f7f7f7
}

.shopping-cart__input:focus::-webkit-input-placeholder {
	color: transparent
}

.shopping-cart__a:hover {
	color: #000;
	text-decoration: none
}

.shopping-btn {
	display: inline;
	outline: 0;
	background-color: #fff;
	margin: 0 .25rem;
	border-radius: 5px;
	border: none;
	text-align: center
}

.shopping-input {
	display: inline;
	margin: 0 .25rem;
	border-radius: 5px;
	outline: 0;
	padding: 0;
	max-width: 2rem;
	text-align: center
}

@media screen and (max-width:803px) {
	.shopping-btn {
		display: block
	}
}

.shopping-cart__icon {
    font-size: 16px;
}

.shopping-cart-update {
	display: inline;
}

